.content{
    display: flex;
    padding: 20px;
}

.img{
    margin-bottom: 20px;
    border: 3px solid rgba(46, 49, 49, 1);
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: rgba(46, 49, 49, 1);
}
